<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Starter</title>
    <script src="/js/jquery-1.9.1.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <%= yield %>
  </body>
</html>