<html>
<head>
	<title>Sinatra Template</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="/javascripts/application.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
	<%= yield %>
</body>
</html>