<html>
<head>
  <title>Sinatra Template</title>
  <script src="/js/jquery.1.7.1.js"></script>
  <script src="/js/underscore.1.2.2.js"></script>
  <script src="/js/backbone.0.5.3.js"></script>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
  <%= yield %>
</body>
</html>